.receivedMovie{
    background-color: wheat;
    width: 1200px;
    margin-left: 50px;
    display: flex;
    height: 700px;
}
.overviewP{
    width: 600px;
    margin-top: 5px;
}
.posterAndRating{
    width: 40%;
}
.xxx{
    margin-bottom: 0;
}
.movieInfo{
    margin-left: 10px;
}
